{% extends 'base.html' %}

{% block content %}
    <h1 class="mt-5 text-center mb-5">О проекте</h1>
    <div class="row">
        <div class="col-md-4 mb-3">
            <img class="avatar w-50" src="{{ url_for('static', filename='images/guts.jpg') }}" alt="Author">
        </div>
        <div class="col-md-8 text-justify d-flex align-items-center">
            <p>
                В современном мире технологические решения играют ключевую роль в решении повседневных задач, в том числе и в поиске работы. Стремительное развитие интернета и информационных технологий открывает новые горизонты для поиска работы как для соискателей, так и для работодателей. В контексте данного исследования представляется важным рассмотрение процесса разработки веб-приложения, направленного на упрощение и оптимизацию процесса трудоустройства соискателей.
                <br>
                Данная работа является актуальной и востребованной в контексте современных тенденций на рынке труда и информационных технологий. В результате ее выполнения ожидается получение конкретных рекомендаций по разработке веб-приложений для трудоустройства соискателей, способствующих улучшению процесса подбора персонала и удовлетворению потребностей как работодателей, так и соискателей.
            </p>
        </div>
    </div>
{% endblock %}