{% extends 'base.html' %}

{% block content %}
    <h1>Изменение статуса заявки соискателя</h1>
    <form method="post">
        <div class="my-3 w-25">
            <select class="form-select mt-3" name="status">
                <option value="На рассмотрении">На рассмотрении</option>
                <option value="Отказано">Отказано</option>
                <option value="Приглашен на интервью">Приглашен на интервью</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Изменить статус заявки</button>
    </form>
{% endblock %}