{% extends 'base.html' %}

{% block content %}
    <h1>Изменение резюме</h1>
    <form method="post">
        <div class="mb-3">
            <label for="experience">Опыт работы</label>
            <textarea type="text" class="form-control" id="experience" name="experience">{{ resume_data.experience }} </textarea>
        </div>
        <div class="mb-3">
            <label for="description">Информация о соискателе</label>
            <textarea type="text" class="form-control" id="description" name="description">{{ resume_data.description }} </textarea>
        </div>
        <div class="mb-3">
            <label for="skills">Навыки</label>
            <textarea type="text" class="form-control" id="skills" name="skills">{{ resume_data.skills }} </textarea>
        </div>
        <div class="mb-3">
            <label for="education">Образование</label>
            <textarea type="text" class="form-control" id="education" name="education">{{ resume_data.education }} </textarea>
        </div>
        <button type="submit" class="btn btn-success">Внести изменения</button>
    </form>
{% endblock %}