{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2>Отклики</h2>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">Статус</th>
                    <th scope="col">Ссылка на резюме</th>
                    <th scope="col">Дата</th>
                </tr>
            </thead>
            <tbody>
                {% for request in request_data %}
                <tr>
                    <td>
                        <label class="form-check-label"> {{ request.name }} </label>
                        <br>
                        <a href="{{ url_for('edit_request_status', user_id=current_user.id, request_id=request.id) }}" class="text-decoration-none text-success">Изменить статус</a>
                    </td>
                    <td>
                        <a href="{{ url_for('resume', user_id=request.js_id) }}" class="text-decoration-none text-primary"> Резюме </a>
                        <br>
                        <a href="{{ url_for('vacancie_view', user_id=request.id_job_seeker, vacancie_id=request.id_vacancy) }}" class="text-decoration-none text-info"> Вакансия </a>
                        <br>
                    </td>
                    <td> {{ request.date }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}