{% extends 'base.html' %}

{% block content %}
    <div class="d-flex-column text-center my-5 justify-content-center">
        <h4>Findaworkk - найди работу!</h4>
        <p>Нанять экспертов или быть нанятым</p>
        <a  {% if current_user.is_authenticated %}
                href="#"
            {% else %}
                href="{{url_for('auth')}}"
            {% endif %}
        >
            <button type="submit" class="btn btn-success my-3 w-25 text-center">Приступить</button>
        </a>
    </div>
{% endblock %}