{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% for resume in resume_data %}
            <div class="card p-3 mx-2 my-3">
                <h4 class="card-title mb-4">{{ user_data.last_name }} {{ user_data.first_name }} {{ user_data.second_name }}</h4>
                <h6>Опыт работы</h6>
                <p>{{ resume.experience }}</p>

                <h6>Обо мне</h6>
                <p> {{ resume.description }} </p>

                <h6>Навыки</h6>
                <p> {{ resume.skills }} </p>

                <h6>Образование</h6>
                <p> {{ resume.education }} </p>

                <div class="d-flex" role="search">
                    <button class="btn btn-success" type="submit"><a class="nav-link active" href="{{ url_for('edit_resume', user_id=current_user.id, resume_id=resume.id) }}">Редактировать</a></button>
                    <button class="btn btn-danger mx-2" type="submit"><a class="nav-link active" href="{{ url_for('delete_resume', user_id=current_user.id, resume_id=resume.id) }}">Удалить</a></button>
                    <button class="btn btn-info text-white mx-2" type="submit"><a class="nav-link active" href="#">Экспортировать в файл</a></button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}