{% extends 'base.html' %}

{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <h4 class="mx-2">Вакансии для вас</h4>
        <div class="col-12 col-md-6">
            <div class="card p-3 mx-2 my-2">
                <h5 class="card-title">Стажер-разработчик</h5>
                <h6 class="card-subtitle mb-2 text-muted">35 000 ₽</h6>
                <p class="card-text text-muted">Москва · Библиотека им.Ленина</p>
                <button type="button" class="btn btn-success mb-2">Откликнуться</button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card p-3 mx-2 my-2">
                <h5 class="card-title">Junior-программист</h5>
                <h6 class="card-subtitle mb-2 text-muted">60 000 ₽</h6>
                <p class="card-text text-muted">Якутск · просп. Ленина</p>
                <button type="button" class="btn btn-success mb-2">Откликнуться</button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card p-3 mx-2 my-2">
                <h5 class="card-title">Стажер-педагог в школу IT</h5>
                <h6 class="card-subtitle mb-2 text-muted">55 000 ₽</h6>
                <p class="card-text text-muted">Москва</p>
                <button type="button" class="btn btn-success mb-2">Откликнуться</button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card p-3 mx-2 my-2">
                <h5 class="card-title">Системный администратор</h5>
                <h6 class="card-subtitle mb-2 text-muted">65 000 ₽</h6>
                <p class="card-text text-muted">Москва · Охотный ряд</p>
                <button type="button" class="btn btn-success mb-2">Откликнуться</button>
            </div>
        </div>
    </div>
{% endblock %}